{% extends "source.html" %}


    {% block styles %}
       <style>
        body{
            background: url("/media/london_bg_colour_2.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;            
        }
      </style>
    {% endblock %}
    
    {% block header %}

        <h2>About us</h2>
        <p> This page was created by a Queen Mary student named Rijenth Jeyakumar for his final year project.
        With an aim to bring an answer to a very popular question. If you are interested and would like to further
        get in touch, please follow the instructions below.</p>
        
    {% endblock %}

    {% block body %}
    
        <p> "where contact me will go" </p>
         
    {% endblock %}